Repository dromara/hmily, pull requests merged in 2020-09, with the labels that each got.

#167 hmily etcd配置开发，指定key，value为配置文件内容
  hmily-config/hmily-config-all/pom.xml
  hmily-config/hmily-config-api/src/main/java/org/dromara/hmily/config/api/constant/PrefixConstants.java
  hmily-config/hmily-config-etcd/pom.xml
  hmily-config/hmily-config-etcd/src/main/java/org/dromara/hmily/config/etcd/EtcdClient.java
  hmily-config/hmily-config-etcd/src/main/java/org/dromara/hmily/config/etcd/EtcdConfig.java
  hmily-config/hmily-config-etcd/src/main/java/org/dromara/hmily/config/etcd/EtcdConfigLoader.java
  hmily-config/hmily-config-etcd/src/main/resources/META-INF/hmily/org.dromara.hmily.config.api.Config
  hmily-config/hmily-config-etcd/src/main/resources/META-INF/hmily/org.dromara.hmily.config.loader.ConfigLoader
  hmily-config/hmily-config-etcd/src/test/java/org/dromara/hmily/config/etcd/EtcdConfigLoaderTest.java
  hmily-config/hmily-config-etcd/src/test/resources/hmily-etcd.yml
  hmily-config/hmily-config-etcd/src/test/resources/hmily.yml
  hmily-config/pom.xml
Labels: good first issue, spi

#166 优化文件存储类
  hmily-repository/hmily-repository-file/src/main/java/org/dromara/hmily/repository/file/FileRepository.java
  hmily-repository/hmily-repository-file/src/test/java/org/dromara/hmily/repository/file/FileRepositoryTest.java
Labels: spi, transaction recovery

#176 add sofa-rpc-demo
  hmily-demo/hmily-demo-common/pom.xml
  hmily-demo/hmily-demo-common/src/main/java/org/dromara/hmily/demo/common/order/entity/Order.java
  hmily-demo/hmily-demo-common/src/main/java/org/dromara/hmily/demo/common/order/enums/OrderStatusEnum.java
  hmily-demo/hmily-demo-common/src/main/java/org/dromara/hmily/demo/common/order/mapper/OrderMapper.java
  hmily-demo/hmily-demo-motan/hmily-demo-motan-account/src/main/java/org/dromara/hmily/demo/motan/account/MotanHmilyAccountApplication.java
  hmily-demo/hmily-demo-motan/hmily-demo-motan-account/src/main/resources/application.yml
  hmily-demo/hmily-demo-motan/hmily-demo-motan-inventory/src/main/resources/application.yml
  hmily-demo/hmily-demo-motan/hmily-demo-motan-order/src/main/resources/application.yml
  hmily-demo/hmily-demo-sofa/hmily-demo-sofa-account/pom.xml
  hmily-demo/hmily-demo-sofa/hmily-demo-sofa-account/src/main/java/org/dromara/hmily/demo/sofa/account/SofaHmilyAccountApplication.java
  hmily-demo/hmily-demo-sofa/hmily-demo-sofa-account/src/main/java/org/dromara/hmily/demo/sofa/account/service/AccountServiceImpl.java
  hmily-demo/hmily-demo-sofa/hmily-demo-sofa-account/src/main/java/org/dromara/hmily/demo/sofa/account/service/InlineServiceImpl.java
  hmily-demo/hmily-demo-sofa/hmily-demo-sofa-account/src/main/resources/application.yml
  hmily-demo/hmily-demo-sofa/hmily-demo-sofa-account/src/main/resources/invoke-client-example.xml
  hmily-demo/hmily-demo-sofa/hmily-demo-sofa-account/src/main/resources/invoke-server-example.xml
  hmily-demo/hmily-demo-sofa/hmily-demo-sofa-inventory/pom.xml
  hmily-demo/hmily-demo-sofa/hmily-demo-sofa-inventory/src/main/java/org/dromara/hmily/demo/motan/inventory/SofaHmilyInventoryApplication.java
  hmily-demo/hmily-demo-sofa/hmily-demo-sofa-inventory/src/main/java/org/dromara/hmily/demo/motan/inventory/service/InventoryServiceImpl.java
  hmily-demo/hmily-demo-sofa/hmily-demo-sofa-inventory/src/main/resources/application.yml
  hmily-demo/hmily-demo-sofa/hmily-demo-sofa-inventory/src/main/resources/invoke-server-example.xml
  hmily-demo/hmily-demo-sofa/hmily-demo-sofa-order/pom.xml
  hmily-demo/hmily-demo-sofa/hmily-demo-sofa-order/src/main/java/org/dromara/hmily/demo/sofa/order/SofaHmilyOrderApplication.java
  hmily-demo/hmily-demo-sofa/hmily-demo-sofa-order/src/main/java/org/dromara/hmily/demo/sofa/order/configuration/SwaggerConfig.java
  hmily-demo/hmily-demo-sofa/hmily-demo-sofa-order/src/main/java/org/dromara/hmily/demo/sofa/order/controller/OrderController.java
  hmily-demo/hmily-demo-sofa/hmily-demo-sofa-order/src/main/java/org/dromara/hmily/demo/sofa/order/service/OrderService.java
  hmily-demo/hmily-demo-sofa/hmily-demo-sofa-order/src/main/java/org/dromara/hmily/demo/sofa/order/service/PaymentService.java
  hmily-demo/hmily-demo-sofa/hmily-demo-sofa-order/src/main/java/org/dromara/hmily/demo/sofa/order/service/impl/OrderServiceImpl.java
  hmily-demo/hmily-demo-sofa/hmily-demo-sofa-order/src/main/java/org/dromara/hmily/demo/sofa/order/service/impl/PaymentServiceImpl.java
  hmily-demo/hmily-demo-sofa/hmily-demo-sofa-order/src/main/resources/application.yml
  hmily-demo/hmily-demo-sofa/hmily-demo-sofa-order/src/main/resources/invoke-client-example.xml
  hmily-demo/hmily-demo-sofa/pom.xml
  hmily-demo/pom.xml
Labels: demo

#177 hmily zookeeper repository updateTime条件bug修复
  hmily-repository/hmily-repository-redis/src/main/java/org/dromara/hmily/repository/redis/RedisRepository.java
  hmily-repository/hmily-repository-zookeeper/src/main/java/org/dromara/hmily/repository/zookeeper/ZookeeperRepository.java
  hmily-repository/hmily-repository-zookeeper/src/test/java/org/dromara/hmily/repository/zookeeper/ZookeeperRepositoryTest.java
Labels: spi

#181 revise process of SQLRevert
  hmily-tac/hmily-tac-p6spy/src/main/java/org/dromara/hmily/tac/p6spy/executor/HmilyExecuteTemplate.java
  hmily-tac/hmily-tac-p6spy/src/main/java/org/dromara/hmily/tac/p6spy/listener/HmilyJdbcEventListener.java
  hmily-tac/hmily-tac-sqlrevert/hmily-tac-sqlrevert-core/src/main/java/org/dromara/hmily/tac/sqlrevert/core/DefaultSqlRevertEngine.java
  hmily-tac/hmily-tac-sqlrevert/hmily-tac-sqlrevert-spi/src/main/java/org/dromara/hmily/tac/sqlrevert/spi/HmilySqlRevertEngine.java
Labels: SQL revert

#184 #168, add update statement parser
  hmily-tac/hmily-tac-sqlparser/hmily-tac-sqlparser-model/src/main/java/org/dromara/hmily/tac/sqlparser/model/constant/HmilyQuoteCharacter.java
  hmily-tac/hmily-tac-sqlparser/hmily-tac-sqlparser-model/src/main/java/org/dromara/hmily/tac/sqlparser/model/value/identifier/HmilyIdentifierValue.java
  hmily-tac/hmily-tac-sqlparser/hmily-tac-sqlparser-shardingsphere/pom.xml
  hmily-tac/hmily-tac-sqlparser/hmily-tac-sqlparser-shardingsphere/src/main/java/org/dromara/hmily/tac/sqlparser/shardingsphere/ShardingSphereSqlParserEngine.java
  pom.xml
Labels: SQL parser

#186 brpc demo 添加
  hmily-demo/hmily-demo-bprc/hmily-demo-brpc-account/pom.xml
  hmily-demo/hmily-demo-bprc/hmily-demo-brpc-account/src/main/java/org/dromara/hmily/demo/brpc/account/BrpcHmilyAccountApplication.java
  hmily-demo/hmily-demo-bprc/hmily-demo-brpc-account/src/main/java/org/dromara/hmily/demo/brpc/account/config/HmilyTacDatasourceConfig.java
  hmily-demo/hmily-demo-bprc/hmily-demo-brpc-account/src/main/java/org/dromara/hmily/demo/brpc/account/service/AccountServiceImpl.java
  hmily-demo/hmily-demo-bprc/hmily-demo-brpc-account/src/main/java/org/dromara/hmily/demo/brpc/account/service/InlineServiceImpl.java
  hmily-demo/hmily-demo-bprc/hmily-demo-brpc-account/src/main/resources/application.yml
  hmily-demo/hmily-demo-bprc/hmily-demo-brpc-account/src/main/resources/hmily.yml
  hmily-demo/hmily-demo-bprc/hmily-demo-brpc-inventory/pom.xml
  hmily-demo/hmily-demo-bprc/hmily-demo-brpc-inventory/src/main/java/org/dromara/hmily/demo/brpc/inventory/BrpcHmilyInventoryApplication.java
  hmily-demo/hmily-demo-bprc/hmily-demo-brpc-inventory/src/main/java/org/dromara/hmily/demo/brpc/inventory/config/HmilyTacDatasourceConfig.java
  hmily-demo/hmily-demo-bprc/hmily-demo-brpc-inventory/src/main/java/org/dromara/hmily/demo/brpc/inventory/service/InventoryServiceImpl.java
  hmily-demo/hmily-demo-bprc/hmily-demo-brpc-inventory/src/main/resources/application.yml
  hmily-demo/hmily-demo-bprc/hmily-demo-brpc-inventory/src/main/resources/applicationContext.xml
  hmily-demo/hmily-demo-bprc/hmily-demo-brpc-inventory/src/main/resources/hmily.yml
  hmily-demo/hmily-demo-bprc/hmily-demo-brpc-order/pom.xml
  hmily-demo/hmily-demo-bprc/hmily-demo-brpc-order/src/main/java/org/dromara/hmily/demo/brpc/order/BrpcHmilyOrderApplication.java
  hmily-demo/hmily-demo-bprc/hmily-demo-brpc-order/src/main/java/org/dromara/hmily/demo/brpc/order/configuration/HmilyTacDatasourceConfig.java
  hmily-demo/hmily-demo-bprc/hmily-demo-brpc-order/src/main/java/org/dromara/hmily/demo/brpc/order/configuration/SwaggerConfig.java
  hmily-demo/hmily-demo-bprc/hmily-demo-brpc-order/src/main/java/org/dromara/hmily/demo/brpc/order/controller/OrderController.java
  hmily-demo/hmily-demo-bprc/hmily-demo-brpc-order/src/main/java/org/dromara/hmily/demo/brpc/order/service/OrderService.java
  hmily-demo/hmily-demo-bprc/hmily-demo-brpc-order/src/main/java/org/dromara/hmily/demo/brpc/order/service/PaymentService.java
  hmily-demo/hmily-demo-bprc/hmily-demo-brpc-order/src/main/java/org/dromara/hmily/demo/brpc/order/service/impl/OrderServiceImpl.java
  hmily-demo/hmily-demo-bprc/hmily-demo-brpc-order/src/main/java/org/dromara/hmily/demo/brpc/order/service/impl/PaymentServiceImpl.java
  hmily-demo/hmily-demo-bprc/hmily-demo-brpc-order/src/main/resources/application.yml
  hmily-demo/hmily-demo-bprc/hmily-demo-brpc-order/src/main/resources/hmily.yml
  hmily-demo/hmily-demo-bprc/pom.xml
  hmily-demo/pom.xml
Labels: brpc, demo

#189 add tars-demo
  hmily-demo/hmily-demo-tars/README.md
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-account/pom.xml
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-account/src/main/java/org/dromara/hmily/demo/tars/account/TarsHmilyAccountApplication.java
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-account/src/main/java/org/dromara/hmily/demo/tars/account/servant/accountapp/AccountServant.java
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-account/src/main/java/org/dromara/hmily/demo/tars/account/servant/accountapp/impl/AccountServantImpl.java
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-account/src/main/java/org/dromara/hmily/demo/tars/account/service/AccountService.java
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-account/src/main/java/org/dromara/hmily/demo/tars/account/service/impl/AccountServiceImpl.java
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-account/src/main/resources/HmilyAccount.AccountApp.config.conf
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-account/src/main/resources/account.tars
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-account/src/main/resources/application.yml
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-account/src/main/resources/logback.xml
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-inventory/pom.xml
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-inventory/src/main/java/org/dromara/hmily/demo/tars/inventory/TarsHmilyInventoryApplication.java
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-inventory/src/main/java/org/dromara/hmily/demo/tars/inventory/servant/inventoryapp/InventoryServant.java
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-inventory/src/main/java/org/dromara/hmily/demo/tars/inventory/servant/inventoryapp/impl/InventoryServantImpl.java
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-inventory/src/main/java/org/dromara/hmily/demo/tars/inventory/service/InventoryService.java
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-inventory/src/main/java/org/dromara/hmily/demo/tars/inventory/service/impl/InventoryServiceImpl.java
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-inventory/src/main/resources/TestInventory.InventoryApp.config.conf
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-inventory/src/main/resources/application.yml
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-inventory/src/main/resources/inventory.tars
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-inventory/src/main/resources/logback.xml
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-order/pom.xml
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-order/src/main/java/org/dromara/hmily/demo/tars/order/TarsHmilyOrderApplication.java
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-order/src/main/java/org/dromara/hmily/demo/tars/order/configuration/SwaggerConfig.java
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-order/src/main/java/org/dromara/hmily/demo/tars/order/controller/OrderController.java
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-order/src/main/java/org/dromara/hmily/demo/tars/order/servant/accountapp/AccountPrx.java
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-order/src/main/java/org/dromara/hmily/demo/tars/order/servant/accountapp/AccountPrxCallback.java
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-order/src/main/java/org/dromara/hmily/demo/tars/order/servant/inventoryapp/InventoryPrx.java
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-order/src/main/java/org/dromara/hmily/demo/tars/order/servant/inventoryapp/InventoryPrxCallback.java
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-order/src/main/java/org/dromara/hmily/demo/tars/order/servant/orderapp/OrderServant.java
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-order/src/main/java/org/dromara/hmily/demo/tars/order/servant/orderapp/impl/OrderServantImpl.java
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-order/src/main/java/org/dromara/hmily/demo/tars/order/service/OrderService.java
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-order/src/main/java/org/dromara/hmily/demo/tars/order/service/PaymentService.java
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-order/src/main/java/org/dromara/hmily/demo/tars/order/service/impl/OrderServiceImpl.java
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-order/src/main/java/org/dromara/hmily/demo/tars/order/service/impl/PaymentServiceImpl.java
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-order/src/main/resources/HmilyOrder.OrderApp.config.conf
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-order/src/main/resources/account.tars
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-order/src/main/resources/application.yml
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-order/src/main/resources/inventory.tars
  hmily-demo/hmily-demo-tars/hmily-demo-tars-springboot-order/src/main/resources/order.tars
  hmily-demo/hmily-demo-tars/pom.xml
  hmily-demo/pom.xml
Labels: demo, tars

#196 fix Pointer not released for window os
  hmily-repository/hmily-repository-file/src/main/java/org/dromara/hmily/repository/file/FileRepository.java
Labels: bug, transaction recovery

#198 redesign SQLReverEngine
  hmily-repository/hmily-repository-spi/src/main/java/org/dromara/hmily/repository/spi/entity/HmilyUndoInvocation.java
  hmily-tac/hmily-tac-common/src/main/java/org/dromara/hmily/tac/common/HmilyTacResource.java
  hmily-tac/hmily-tac-core/src/main/java/org/dromara/hmily/tac/core/transaction/HmilyTacParticipantTransaction.java
  hmily-tac/hmily-tac-datasource/src/main/java/org/dromara/hmily/tac/datasource/HmilyTacDatasource.java
  hmily-tac/hmily-tac-p6spy/src/main/java/org/dromara/hmily/tac/p6spy/HmilyP6Datasource.java
  hmily-tac/hmily-tac-p6spy/src/main/java/org/dromara/hmily/tac/p6spy/executor/HmilyExecuteTemplate.java
  hmily-tac/hmily-tac-p6spy/src/main/java/org/dromara/hmily/tac/p6spy/rollback/HmilyTacRollbackExecutor.java
  hmily-tac/hmily-tac-sqlcompute/src/main/java/org/dromara/hmily/tac/sqlcompute/HmilySQLComputeEngineFactory.java
  hmily-tac/hmily-tac-sqlcompute/src/main/java/org/dromara/hmily/tac/sqlcompute/impl/HmilyUpdateSQLComputeEngine.java
  hmily-tac/hmily-tac-sqlrevert/hmily-tac-sqlrevert-core/pom.xml
  hmily-tac/hmily-tac-sqlrevert/hmily-tac-sqlrevert-core/src/main/java/org/dromara/hmily/tac/sqlrevert/core/DefaultSQLRevertEngine.java
  hmily-tac/hmily-tac-sqlrevert/hmily-tac-sqlrevert-core/src/main/java/org/dromara/hmily/tac/sqlrevert/core/DefaultSqlRevertEngine.java
  hmily-tac/hmily-tac-sqlrevert/hmily-tac-sqlrevert-core/src/main/resources/META-INF/hmily/org.dromara.hmily.tac.sqlrevert.spi.HmilySQLRevertEngine
  hmily-tac/hmily-tac-sqlrevert/hmily-tac-sqlrevert-core/src/main/resources/META-INF/hmily/org.dromara.hmily.tac.sqlrevert.spi.HmilySqlRevertEngine
  hmily-tac/hmily-tac-sqlrevert/hmily-tac-sqlrevert-spi/src/main/java/org/dromara/hmily/tac/sqlrevert/spi/HmilySQLRevertEngine.java
  hmily-tac/hmily-tac-sqlrevert/hmily-tac-sqlrevert-spi/src/main/java/org/dromara/hmily/tac/sqlrevert/spi/HmilySQLRevertEngineFactory.java
  hmily-tac/hmily-tac-sqlrevert/hmily-tac-sqlrevert-spi/src/main/java/org/dromara/hmily/tac/sqlrevert/spi/exception/SQLRevertException.java
Labels: SQL revert

#205 Feature etcd passive lilang
  hmily-config/hmily-config-api/src/main/java/org/dromara/hmily/config/api/event/EventData.java
  hmily-config/hmily-config-etcd/src/main/java/org/dromara/hmily/config/etcd/EtcdClient.java
  hmily-config/hmily-config-etcd/src/main/java/org/dromara/hmily/config/etcd/EtcdConfigLoader.java
  hmily-config/hmily-config-etcd/src/main/java/org/dromara/hmily/config/etcd/EtcdPassiveConfig.java
  hmily-config/hmily-config-etcd/src/test/java/org/dromara/hmily/config/etcd/EtcdRealTest.java
  hmily-config/hmily-config-etcd/src/test/resources/hmily-etcd-update.yml
  hmily-config/hmily-config-etcd/src/test/resources/hmily.yml
  hmily-config/hmily-config-zookeeper/src/test/java/org/dromara/hmily/config/zookeeper/ZookeeperConfigLoaderOnlineTest.java
  hmily-config/hmily-config-zookeeper/src/test/resources/hmily-zookeeper-update.yml
Labels: config
