Repository dromara/hmily, pull requests merged in 2020-12, with the labels that each got.

#261 add init locks for tac
  hmily-common/src/main/java/org/dromara/hmily/common/enums/EventTypeEnum.java
  hmily-core/src/main/java/org/dromara/hmily/core/disruptor/publisher/HmilyRepositoryEventPublisher.java
  hmily-core/src/main/java/org/dromara/hmily/core/repository/HmilyRepositoryDispatcher.java
  hmily-core/src/main/java/org/dromara/hmily/core/repository/HmilyRepositoryEvent.java
  hmily-core/src/main/java/org/dromara/hmily/core/repository/HmilyRepositoryFacade.java
  hmily-core/src/main/java/org/dromara/hmily/core/repository/HmilyRepositoryStorage.java
  hmily-repository/hmily-repository-spi/src/main/java/org/dromara/hmily/repository/spi/entity/HmilyLock.java
  hmily-repository/hmily-repository-spi/src/main/java/org/dromara/hmily/repository/spi/entity/HmilyParticipantUndo.java
  hmily-tac/hmily-tac-core/src/main/java/org/dromara/hmily/tac/core/cache/HmilyUndoContextCacheManager.java
  hmily-tac/hmily-tac-core/src/main/java/org/dromara/hmily/tac/core/context/HmilyUndoContext.java
  hmily-tac/hmily-tac-core/src/main/java/org/dromara/hmily/tac/core/transaction/HmilyTacStarterTransaction.java
  hmily-tac/hmily-tac-p6spy/src/main/java/org/dromara/hmily/tac/p6spy/executor/HmilyExecuteTemplate.java
Labels: SQL revert, TAC

#265 fix 调用generateEmptyResultSQL方法，表名为mysql关键字，报错的问题
  hmily-tac/hmily-tac-metadata/src/main/java/org/dromara/hmily/tac/metadata/loader/ColumnMetaDataLoader.java
Labels: TAC, bug

#264 add hmily lock cache manager & init lock hmily repository
  hmily-core/src/main/java/org/dromara/hmily/core/repository/HmilyRepositoryFacade.java
  hmily-repository/hmily-repository-database/hmily-repository-database-manager/src/main/java/org/dromara/hmily/repository/database/manager/AbstractHmilyDatabase.java
  hmily-repository/hmily-repository-etcd/src/main/java/org/dromara/hmily/repository/etcd/EtcdRepository.java
  hmily-repository/hmily-repository-file/src/main/java/org/dromara/hmily/repository/file/FileRepository.java
  hmily-repository/hmily-repository-mongodb/src/main/java/org/dromara/hmily/repository/mongodb/MongodbRepository.java
  hmily-repository/hmily-repository-redis/src/main/java/org/dromara/hmily/repository/redis/RedisRepository.java
  hmily-repository/hmily-repository-spi/src/main/java/org/dromara/hmily/repository/spi/HmilyRepository.java
  hmily-repository/hmily-repository-spi/src/main/java/org/dromara/hmily/repository/spi/entity/HmilyLock.java
  hmily-repository/hmily-repository-spi/src/main/java/org/dromara/hmily/repository/spi/exception/HmilyLockConflictException.java
  hmily-repository/hmily-repository-zookeeper/src/main/java/org/dromara/hmily/repository/zookeeper/ZookeeperRepository.java
  hmily-tac/hmily-tac-core/src/main/java/org/dromara/hmily/tac/core/cache/HmilyLockCacheManager.java
  hmily-tac/hmily-tac-core/src/main/java/org/dromara/hmily/tac/core/transaction/HmilyTacStarterTransaction.java
  hmily-tac/hmily-tac-p6spy/src/main/java/org/dromara/hmily/tac/p6spy/executor/HmilyExecuteTemplate.java
Labels: TAC

#270 Issue#269 grpc client bug fix
  hmily-demo/hmily-demo-grpc/hmily-demo-grpc-inventory/src/main/java/org/dromara/hmily/demo/grpc/inventory/service/InventoryServiceBeanImpl.java
  hmily-demo/hmily-demo-grpc/hmily-demo-grpc-inventory/src/main/java/org/dromara/hmily/demo/grpc/inventory/service/InventoryServiceImpl.java
  hmily-demo/hmily-demo-grpc/hmily-demo-grpc-order/src/main/java/org/dromara/hmily/demo/grpc/order/grpc/AccountClient.java
  hmily-demo/hmily-demo-grpc/hmily-demo-grpc-order/src/main/java/org/dromara/hmily/demo/grpc/order/grpc/InventoryClient.java
  hmily-rpc/hmily-grpc/src/main/java/org/dromara/hmily/grpc/client/GrpcHmilyClient.java
  hmily-rpc/hmily-grpc/src/main/java/org/dromara/hmily/grpc/filter/GrpcHmilyTransactionFilter.java
  hmily-rpc/hmily-grpc/src/main/java/org/dromara/hmily/grpc/parameter/GrpcHmilyContext.java
  hmily-rpc/hmily-grpc/src/main/java/org/dromara/hmily/grpc/parameter/GrpcInvokeContext.java
  hmily-spring-boot-starter/hmily-spring-boot-starter-grpc/src/main/java/org/dromara/hmily/grpc/startup/GrpcHmilyConfiguration.java
  hmily-spring-boot-starter/hmily-spring-boot-starter-grpc/src/main/resources/META-INF/spring.factories
Labels: Grpc

#275 implement database lock repository for tac
  hmily-core/src/main/java/org/dromara/hmily/core/repository/HmilyRepositoryFacade.java
  hmily-repository/hmily-repository-database/hmily-repository-database-manager/src/main/java/org/dromara/hmily/repository/database/manager/AbstractHmilyDatabase.java
  hmily-repository/hmily-repository-database/hmily-repository-database-mysql/src/main/resources/mysql/schema.sql
  hmily-repository/hmily-repository-database/hmily-repository-database-oracle/src/main/resources/oracle/schema.sql
  hmily-repository/hmily-repository-database/hmily-repository-database-postgresql/src/main/resources/postgresql/schema.sql
  hmily-repository/hmily-repository-database/hmily-repository-database-sqlserver/src/main/resources/sqlserver/schema.sql
  hmily-repository/hmily-repository-etcd/src/main/java/org/dromara/hmily/repository/etcd/EtcdRepository.java
  hmily-repository/hmily-repository-file/src/main/java/org/dromara/hmily/repository/file/FileRepository.java
  hmily-repository/hmily-repository-mongodb/src/main/java/org/dromara/hmily/repository/mongodb/MongoEntityConvert.java
  hmily-repository/hmily-repository-mongodb/src/main/java/org/dromara/hmily/repository/mongodb/MongodbRepository.java
  hmily-repository/hmily-repository-mongodb/src/main/java/org/dromara/hmily/repository/mongodb/entity/UndoMongoEntity.java
  hmily-repository/hmily-repository-redis/src/main/java/org/dromara/hmily/repository/redis/RedisRepository.java
  hmily-repository/hmily-repository-spi/src/main/java/org/dromara/hmily/repository/spi/HmilyRepository.java
  hmily-repository/hmily-repository-spi/src/main/java/org/dromara/hmily/repository/spi/entity/HmilyLock.java
  hmily-repository/hmily-repository-spi/src/main/java/org/dromara/hmily/repository/spi/exception/HmilyLockConflictException.java
  hmily-repository/hmily-repository-zookeeper/src/main/java/org/dromara/hmily/repository/zookeeper/ZookeeperRepository.java
  hmily-tac/hmily-tac-core/src/main/java/org/dromara/hmily/tac/core/cache/HmilyLockCacheManager.java
  hmily-tac/hmily-tac-core/src/main/java/org/dromara/hmily/tac/core/transaction/HmilyTacParticipantTransaction.java
  hmily-tac/hmily-tac-core/src/main/java/org/dromara/hmily/tac/core/transaction/HmilyTacStarterTransaction.java
  hmily-tac/hmily-tac-p6spy/src/main/java/org/dromara/hmily/tac/p6spy/executor/HmilyExecuteTemplate.java
  hmily-tac/hmily-tac-p6spy/src/main/java/org/dromara/hmily/tac/p6spy/listener/HmilyJdbcEventListener.java
  hmily-tac/hmily-tac-sqlcompute/src/main/java/org/dromara/hmily/tac/sqlcompute/impl/HmilyUpdateSQLComputeEngine.java
Labels: TAC

#277 refactor TAC transaction using HmilyTacLocalParticipantExecutor
  hmily-tac/hmily-tac-core/src/main/java/org/dromara/hmily/tac/core/transaction/HmilyTacLocalParticipantExecutor.java
  hmily-tac/hmily-tac-core/src/main/java/org/dromara/hmily/tac/core/transaction/HmilyTacParticipantTransaction.java
  hmily-tac/hmily-tac-core/src/main/java/org/dromara/hmily/tac/core/transaction/HmilyTacStarterTransaction.java
Labels: TAC

#278 integrate with shardingsphere parser for tac
  hmily-config/hmily-config-api/src/main/java/org/dromara/hmily/config/api/entity/HmilyConfig.java
  hmily-tac/hmily-tac-p6spy/src/main/java/org/dromara/hmily/tac/p6spy/listener/HmilyJdbcEventListener.java
  hmily-tac/hmily-tac-sqlcompute/pom.xml
  hmily-tac/hmily-tac-sqlcompute/src/main/java/org/dromara/hmily/tac/sqlcompute/impl/ExpressionHandler.java
  hmily-tac/hmily-tac-sqlcompute/src/main/java/org/dromara/hmily/tac/sqlcompute/impl/HmilySQLComputeUtils.java
  hmily-tac/hmily-tac-sqlcompute/src/main/java/org/dromara/hmily/tac/sqlcompute/impl/HmilyUpdateSQLComputeEngine.java
  hmily-tac/hmily-tac-sqlparser/hmily-tac-sqlparser-model/src/main/java/org/dromara/hmily/tac/sqlparser/model/value/identifier/HmilyIdentifierValue.java
  hmily-tac/hmily-tac-sqlparser/hmily-tac-sqlparser-shardingsphere/src/main/java/org/dromara/hmily/tac/sqlparser/shardingsphere/ShardingSphereSqlParserEngine.java
Labels: TAC
